.conhecimentos-container {
  max-width: 1200px;
  padding: 100px 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 100px;
  position: relative;
}

.conhecimento-icons {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 120px;
  cursor: pointer;
}

.conhecimento-icons img {
  width: 100%;
  background-color: var(--background-second);
  border-radius: 20px;
  border: 3px solid var(--background-first);
  transition: 0.3s;
}
.conhecimento-icons:hover {
  color: var(--yellow);
}

.conhecimento-icons:hover img {
  border: 3px solid var(--yellow);
}

.conhecimento-icons-texto {
  font-size: 1rem;
  min-width: 100%;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

.conhecimento-icons-texto h4 {
  font-size: 1.125em;
  text-align: center;
}

.conhecimentos-titulo {
  font-size: 2rem;
  color: var(--yellow);
  grid-column: 1 /-1;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 30px;
}

.conhecimentos-titulo::after {
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  position: absolute;
  top: 117px;
  left: 345px;
  z-index: -1;
  background-color: var(--yellow);
}

.conhecimentos-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
}

.descricao {
  display: flex;
  justify-content: left;
  align-items: center;
}

.mudaDescricao {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.85rem;
  min-height: 100px;
}

.ativar {
  color: var(--yellow);
}

@media (max-width: 1000px) {
  .conhecimentos-container {
    padding: 0 120px;
  }
  .conhecimentos-wrapper {
    grid-column: 1/-1;
  }
  .descricao {
    grid-column: 1/-1;
    text-align: center;
  }

  .conhecimentos-titulo {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 40px;
  }

  .conhecimentos-titulo::after {
    display: none;
  }
}

@media (max-width: 750px) {
  .conhecimentos-container {
    padding: 0 60px;
  }

  .conhecimento-icons-texto {
    font-size: 0.8rem;
  }
  .conhecimentos-titulo {
    padding-top: 80px;
  }
}

@media (max-width: 500px) {
  .conhecimentos-container {
    padding: 0 20px;
  }
  .conhecimentos-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .conhecimento-icons {
    width: 80px;
  }
  .mudaDescricao {
    font-size: 1.25rem;
    min-height: 150px;
  }
}
