.contato-container{
    background-color: var(--background-second);
    
    
}

.contato-wrapper{
    max-width: 1200px;
    margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: flex-start;
  padding: 100px ;
  position: relative;
 
}

.contato-titulo{
    font-size: 2rem;
    color: var(--yellow);
    grid-column: 1 /-1;
    text-transform: uppercase;
    text-align: left;
}

.contato-titulo::after{
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    position: absolute;
    top: 117px;
    left: 290px;
   
    background-color: var(--yellow);    
}

.contato-container p, a{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: right;
}

.redes-icons-wrapper a{
    color: var(--font-first);
    text-align: left;
    text-decoration: underline;
    transition: .3s;
}

.redes-icons-wrapper a:hover{
    color: var(--yellow);
}

.redes-icon{
    display: flex;
    justify-content: start;
   
}

.redes-icon img{
    width: 50px;
    padding-right: 10px;
}

@media (max-width: 1000px){
    .contato-wrapper{    
        grid-template-columns: 1fr;
        justify-content:center;
    }
    .contato-container h2{
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 20px;
    }

    .redes-icons-wrapper{
        text-align: center;
    }

    .redes-icon{
        padding-top: 30px;
        justify-content: center;
    }

    .contato-container p,a{
        font-size: 1.5rem;
        text-align: center;
    }

    .contato-titulo::after{
        display: none;
    }
}