:root{
    --background-first:#21245B;
    --yellow: #F2C48D;
    --font-first: #F2CEF2;
    --font-second:#F2F2F2;

}

body {
    font-family: 'Archivo', sans-serif;;
    margin: 0px;
    color: var(--font-second);
    background-color: var(--background-first);
  }

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
