:root{
    --background-first:#21245B;
    --background-second: #433D85;
    --yellow: #F2C48D;
    --font-first: #F2CEF2;
    --font-second:#F2F2F2;

}

body {
    font-family: 'Archivo', sans-serif;;
    margin: 0px;
    color: var(--font-first);
    background-color: var(--background-first);
  }

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  padding: 0px 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

@media (max-width: 650px){
  .container{
    grid-template-columns: 1fr;
  min-height: initial;
  padding: 20px 20px;
  margin-top: 150px;
  }
  
}