header {
  background-color: var(--background-first);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  opacity: 0.97;
}

nav {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: var(--yellow);
  display: block;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  transition: o.3s;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.header-menu a {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  color: var(--font-first);
  display: flex;
  justify-content: center;
  transition: 0.3s;
  position: relative;
}
.header-menu a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: var(--yellow);
  margin-top: 25px;
  transition: 0.5s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-menu a:hover {
  color: var(--yellow);
}

#btn-mobile {
  display: none;
}

@media (max-width: 700px) {
  .header-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    display: block;
    background-color: var(--background-second);
    height: 0px;
    transition: 0.6s;
    z-index: 9999;
    visibility: hidden;
    overflow-y: hidden;
  }

  .header-menu li {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .header-menu a:hover:after {
    display: none;
  }

  #nav.active .header-menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  .header-menu #btn-principal {
    color: var(--yellow);
    background-color: var(--background-second);
  }

  .header-menu #btn-principal:hover {
    color: var(--background-first);
    background-color: var(--yellow);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
    color: var(--yellow);
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  nav.active #hamburger {
    border-top-color: transparent;
  }
}

nav.active #hamburger::before {
  transform: rotate(135deg);
}

nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}
