#header {
  background-color: var(--background-first);
  box-sizing: border-box;
  height: 100px;
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  opacity: 0.97;
  /* border-bottom: 0.3px solid var(--yellow); */
}

.header-logo {
  color: var(--yellow);
  display: block;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 3px solid var(--background-first);
  text-decoration: none;
  transition: o.3s;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  color: var(--font-first);
  display: block;
  transition: 0.3s;
}

.header-menu a:hover {
  color: var(--yellow);
}

#btn-mobile {
  display: none;
}

@media (max-width: 700px) {
  .header-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0;
    display: block;
    background-color: var(--background-second);
    height: 0px;
    transition: 0.6s;
    z-index: 9999;
    visibility: hidden;
    overflow-y: hidden;
  }

  .header-menu li {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  #nav.active .header-menu {
    height: calc(100vh - 100px);
    visibility: visible;
    overflow-y: auto;
  }

  .header-menu #btn-principal {
    color: var(--yellow);
    background-color: var(--background-second);
  }

  .header-menu #btn-principal:hover {
    color: var(--background-first);
    background-color: var(--yellow);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
    color: var(--yellow);
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  nav.active #hamburger {
    border-top-color: transparent;
  }
}

nav.active #hamburger::before {
  transform: rotate(135deg);
}

nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}
