.introducao {
  height: calc(100vh - 100px);
  padding: 0 40px;
}

.introducao-texto {
  margin-left: 100px;
}

.introducao img {
  background-color: var(--background-second);
  border-radius: 20px;
  border: 3px solid var(--background-first);
  transition: 0.3s;
}

.introducao img:hover {
  border: 3px solid var(--yellow);
}

.hello {
  font-size: 1.2rem;
}

.introducao h1,
p {
  font-size: 4rem;
  color: var(--font-first);
  font-weight: 700;
}

.texto-second {
  color: var(--yellow);
}

.introducao p {
  font-size: 2rem;
}

#build::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 1050px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao p {
    font-size: 1.5rem;
  }
}

@media (max-width: 660px) {
  .introducao {
    height: 500px;
    margin-top: 180px;
    padding: 0px 20px;
    grid-template-columns: 1fr;
  }

  .introducao img {
    display: none;
  }
}
