.introducao img{
  background-color: var(--background-second);
    border-radius: 20px;
    border: 2px solid var(--background-first);
    transition: 0.3s;
}

.introducao img:hover{
    border: 2px solid var(--yellow);
}

.introducao-texto{
    line-height: 1.125; 
}

.introducao h1, p{
    font-size: 4.0rem;    
    color: var(--font-first);
    font-weight: 700;
  }

  .introducao span{
      color: var(--yellow);
  }

  .introducao p {
    font-size: 3rem;

  }

  @media (max-width: 950px) {
    .introducao h1 {
      font-size: 3rem;
    }
    .introducao p {
        font-size: 2rem;
      }
  }    
  
  @media (max-width: 650px) {
    .introducao {
      grid-template-columns: 1fr;
    }
    .introducao img {
      display: none;
    }
  }
  