.sobre {
  grid-template-columns: 1fr;
  align-items: center;
}

.sobre p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: right;
}
.sobre img {
  border-radius: 50%;
  background-color: var(--background-second);
  border: 3px solid var(--background-second);
  transition: 0.3s;
  min-width: 220px;
}

.sobre-wrapper:hover .myimg {
  border: 3px solid var(--yellow);
}

.sobre-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
  align-items: center;
}

.sobre-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sobre-subtitulo {
  font-size: 2rem;
  color: var(--yellow);
  grid-column: 1 /-1;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  padding-bottom: 100px;
}

.sobre-subtitulo::after {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  position: absolute;
  top: 15px;
  left: 205px;
  z-index: -1;
  background-color: var(--yellow);
}
.sobre-texto {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  align-content: end;
  justify-content: end;
  justify-items: end;
}

@media (max-width: 1000px) {
  .sobre-wrapper img {
    max-width: 30%;
  }
  .sobre-subtitulo {
    text-align: center;
    font-size: 1.5rem;
    padding: 60px 0;
  }
  .sobre-subtitulo::after {
    display: none;
  }
}
@media (max-width: 650px) {
  .sobre-wrapper {
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .sobre-wrapper img {
    gap: 50px;
    border: 3px solid var(--yellow);
    max-width: 50%;
  }
  .sobre-texto {
    justify-items: center;
    order: 3;
  }

  .sobre p {
    text-align: center;
    padding: 0 10px;
    font-size: 1.25rem;
  }
}
