*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", "Arial", "Helvetica", "sans-serif";
    font-size: 20px;
}
.main-header  {
    display: flex;
    justify-content: flex-end;
    background-color: #BDB2FF;
    border-bottom: 5px solid black;
    padding: 15px;
}

.main-action{  
    color: #000;
    font-size: 100%;    
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}

.main-banner {
    box-sizing: border-box;
    background-image: url(/Imagens/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 5px solid #000;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 10%;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.main-box{
    display: inline-block;
    background-color: #BDB2FF;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 42px 44px;

}
.main-title{
    font-size: 140%;
    color:#000;
    
}

.main-subtitle{
    font-size: 100%;
    color: #000;
}

.main-box .main-title{
    margin-bottom: 10px;
}

.main-banner .main-box {
    margin-bottom: 40px;   
}


.main-section {
    background-color: #BDB2FF;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 5px solid #000;
    text-align: center;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgGray {
    background-color: lightgray;
}

.main-section.-bgPurple{
    background-color: #BDB2FF;
}

.main-section.-bgBlack{
    background-color: #000;

}
.main-title.-second{
    color: #000;
    text-shadow: none;
    text-align: center;
}

.main-title.-third{
    color: #FFF;
    text-shadow: none;
    text-align: center;
 
}
.wrapper-card{
    display: flex;
    justify-content: space-around;
}

.card-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDB2FF;
    width: 280px ;
    height: 280px;
    box-shadow: 10px 10px 0px #000;
}
.main-section.-bgPurple img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
.main-description{
    padding:1% 15%;
    color: #000;
    font-size: 110%;
    line-height: 1.2;
}

.main-label{
    color: #FFF;
}


form{
	flex-direction: column;
    padding:0% 15%;
    color: #000;
    font-size: 25px;
    line-height: 1.2;
}
.main-input{
    width: 75%;
    padding: 1%;
}

.main-button{
    background-color: #BDB2FF;
    color: #000;
    font-size: 90%;
    padding: 15px 35px;
    border: none;
    font-weight: bold;
    margin-top: 2%;
    box-shadow: 7px 7px 0px #FFF;
} 


@media only screen and (max-width: 768px) {
    .main-header  {
        justify-content: center;
    }
   
    .main-banner {
        box-sizing: none;
        background-image: none;
        background-color: #FFF;
        background-size: 100%;
        border-bottom: 5px solid #000;
        padding: 15%;
       
    }
    
    .main-banner .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .main-box{
        display: inline-block;
        background-color: #BDB2FF;
        box-shadow: 10px 10px 0 #000;
        text-align: center;
        padding: 42px 44px;}
    
}
    

