*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav  {
    display: flex;
    justify-content: center;
    background-color:#ffc93d;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

a{
    padding: 10px;
    text-decoration:none;
    color: white;
    
}

.wrapper{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: lightgray;
}

.banner{
    width: 100%;
}

.content{
   padding: 20px 50px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color:#ffc93d;
    color: black;
    text-align: center;
}

h1{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    background-color:#ffc93d ;
}


